html {
    font-family: Arial, sans-serif;
}
.flex-container {
    display: flex;
    background: gray;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 10px;
}

.photo-container {
    display: flex;
    background: lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
    font-family: Arial, sans-serif;

}
.photo-container div {
    display: flex;
    justify-content: flex-start;
}
.photo-container .underline {
    text-decoration: none;
  }
.photo-container:hover .underline {
    text-decoration: underline;
    transform: scale(1.025);
    transition: transform 0.5s;
  }
#photoheader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#seniorphoto {
    float: left;
    display: flex;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    transform: scale(1.0);
    transition: transform 0.5s;
    margin-right: 20px;
}
#seniorphoto:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}
.flex-item {
    display: flex;
    color: white;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media (min-width: 600px) {
    .flex-item {
        color: gray;
    }
}
@media (min-width: 900px) {
    .flex-item {
        color: purple;
    }
    .flex-container {
        justify-content: center;
    }
}

/* Additional styles for fun */
.red { background: tomato; }
.blue { background: dodgerblue; }
.green { background: mediumseagreen; }
.orange { background: orange; }
.purple { background: rebeccapurple; }

.box {width: 100px; height: 100px;}

nav {
    display: flex;
    border-radius: 10px;
    color: white;
    background: #000;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;

}
nav .logo {
    margin: 20px;
    font-size: 24px;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 20px;
}
nav li:hover {
    text-decoration: underline;
    background: lightgray;
}
nav a {
    text-decoration: none;
    color: white;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav .logo {
        justify-content: center;

    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        padding-right: 150px;
    }
    .container {
        flex-direction: column;
    }
    nav, .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20vw;
    }
    .sidebar {
        flex-shrink: 1;
    }
}
#aboutmeheader {
    display: flex;
    justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.active {
    color: gray;
}