.flex-container {
    display: flex;
    background: lightgray;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-item {
    display: flex;
    color: white;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media (min-width: 600px) {
    .flex-item {
        color: gray;
    }
}
@media (min-width: 900px) {
    .flex-item {
        color: purple;
    }
    .flex-container {
        justify-content: center;
    }
}

/* Additional styles for fun */
.red { background: tomato; }
.blue { background: dodgerblue; }
.green { background: mediumseagreen; }
.orange { background: orange; }
.purple { background: rebeccapurple; }

.box {width: 100px; height: 100px;}

nav {
    display: flex;
    color: white;
    background: #333;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    margin: 20px;
    font-size: 24px;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 20px;
}
nav li:hover {
    text-decoration: underline;
    background: lightgray;
}
nav a {
    text-decoration: none;
    color: white;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav .logo {
        justify-content: center;

    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        padding-right: 150px;
    }
}